.content= competition.content
.tags.badges
  each tag in competition.tags
    span.badge.badge-phill.badge-secondary= tag
    | 

.row
  .col-sm
    .numbers.
      #[span.number.num-likes= competition.numLikes] 추천,
      #[span.number.num-answers= competition.numAnswers] 댓글,
      #[span.number.num-reads= competition.numReads] 조회 수
  .col-sm
    .author
      | 게시자 #{moment(competition.createdAt).format('YYYY-MM-DD')}
      if competition.author
        | 
        | by #{competition.author.name} 
