extends ../layout

block content
  .container
    h1.main-title 공모전 편집
    form(action=`/competitions/${competition.id}`, method="POST")
      input(type="hidden", name="_method", value="PUT")
      include _form
      button.btn.btn-outline-primary(type="submit") 공모전 편집 하기
