extends layout

block hero-unit
  .jumbotron
    .container
      
block content
  .container
    
    form.form-inline.main-search-input-group(action='/competitions', method='GET')
      input.form-control.mr-sm-2(type='text', name='term', placeholder='빠르게 공모전을 검색하세요', aria-label='Search', value=term)
      button#search-home.btn.btn-primary(type='submit') 공모전 검색
  br
